html, body {
    height: 100%;
  }
#loginFormStyle{
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
    gap: 8px;
}

#loginTextStyle{
    text-align: center;

}

#loginPageStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    background-color: aquamarine;
}